:root{
    --text-gray: #9aa3bd;
    --bg-dark: #111;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anton", sans-serif;
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #000;

    .logo {
        height: 60px;
    }

    .navigation {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .item
        .link{
            color: #9aa3bd;
            text-decoration: none;

        }
    
}